@import '../../../styles/variables';

.project-previews {
  margin-top: 2.5rem;
  margin-bottom: 4rem;

  @media (min-width: $tablet) {
    margin-bottom: 5rem;
  }

  @media (min-width: $desktop) {
    margin-bottom: 4rem;
  }

  &__title {
    margin-bottom: 2.5rem;

    @media (min-width: $desktop) {
      margin-bottom: 1.75rem;
    }
  }

  &__images {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    picture, img {
      width: 100%;
    }
  }
}
