$clr-cyan: #5FB4A2;
$clr-red: #F43030;
$clr-black-transparent: rgba(0, 0, 0, 0.1);
$clr-100: #FFF;
$clr-200: #FAFAFA;
$clr-300: #EAEAEB;
$clr-500: #203A4C;
$clr-600: #33323D;
$clr-600-transparent: rgba(51, 50, 61, 0.1);
$clr-600-text: rgba(51, 50, 61, 0.8);

$ff-regular: 'Public Sans', sans-serif;
$ff-headers: 'Ibarra Real Nova', serif;

$fw-bold: 700;
$fw-regular: 400;

$fs-body: 0.938rem;
$fs-body-l: 1rem;
$fs-navlink: 0.75rem;
$fs-header-l: 3.125rem;
$fs-header-m: 2.5rem;
$fs-header-s: 2rem;

$container-width: 1110px;
$tablet: 768px;
$desktop: 1024px;
