@import '../../../styles/variables';

.container {
  padding: 0 2rem;
  max-width: $container-width;
  box-sizing: content-box;
  margin: 0 auto;
  overflow-x: hidden;

  @media (min-width: $tablet) {
    padding: 0 2.5rem;
  }
}
